

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      
      securityContext:
        fsGroup: 472
        runAsUser: 472
        runAsGroup: 472
      containers:
        - name: grafana
          image: grafana/grafana:10.4.1
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: admin
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: ChangeMe123!
            # Database (Postgres) configuration
            - name: GF_DATABASE_TYPE
              value: postgres
            - name: GF_DATABASE_HOST
              value: "postgres.efk.svc.cluster.local:5432"
            - name: GF_DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: grafana-postgres-secret
                  key: postgres-db
            - name: GF_DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: grafana-postgres-secret
                  key: postgres-user
            - name: GF_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: grafana-postgres-secret
                  key: postgres-password

            # disable plugin auto-install during migration/startup
            - name: GF_INSTALL_PLUGINS
              value: ""
            - name: GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS
              value: "false"

            # optional: reduce logging noise
            - name: GF_LOG_LEVEL
              value: warn
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: grafana-storage
              mountPath: /var/lib/grafana
      volumes:
        - name: grafana-storage
          persistentVolumeClaim:
            claimName: grafana-pvc