apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: efk
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.log.pos
      tag kube.*
      <parse>
        @type json
      </parse>
    </source>

    <match kube.**>
      @type elasticsearch
      host elasticsearch
      port 9200
      logstash_format true
      include_tag_key true
      type_name access_log
      flush_interval 5s
    </match>